<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <div class="postCard" id="viewPost">
                <img class="storyPic" src="<%= post.attatchment %>">
                <img class="profilePicSmall" src="<%= post.user.avatar %>"><p class="userInfo"><%= post.user.name %> <small>about</small> <%= post.pet %>: </p>
                <p class="userStory" id="viewCommentPost"><%= post.content %></p>
            </div>
            <div id="comment">
                <img class="profilePic" src="<%= user.avatar %>">
                <p class="userInfo"><%= user.name %></p>
                <form action="/post/view/<%= postId %>/comment" method="POST">
                    <textarea name="content" placeholder="So what do you think?" id="commentBox"></textarea>
                    <input type="submit" value="Comment" id="commentButton">
                </form>
            </div>
            <br>
            <hr>
            <div id="commentsPage">
                <% post.comments.forEach((comment, index) => { %>
                    <img src="<%= comment.user.avatar %>" class="profilePicSmall">
                    <p class="userInfo"><%= comment.user.name %>:</p>
                    <p id="commentText"><%= comment.content %></p>
                    <br>
                <% }) %>
            </div>
        </div>
    </main>
</body>
</html>