<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <div class="postCard">
                <img class="profilePic" src="<%= postedUser.avatar %>">
                <p><%= postedUser.name %>'s post:</p>
                <img class="storyPic" src="<%= post.attatchment %>">
                <p class="petInfo">petInfo</p>
                <img class="profilePic" src=""> 
                <p class="userInfo"></p>
                <p class="userStory"><%= post.content %></p>
            </div>
            <img class="profilePic" src="<%= user.avatar %>">
            <p><%= user.name %></p>
            <form action="/post/view/<%= postId %>/comment" method="POST">
                <textarea name="content" placeholder="So what do you think?"></textarea>
                
                <input type="submit" value="Comment">
            </form>
            <% post.comments.forEach((comment, index) => { %>
                <img src="<%= comment.user.avatar %>" class="profilePic">
                <p><%= comment.user.name %></p>
                <p><%= comment.content %></p>
            <% }) %>
        </div>
    </main>
</body>
</html>