<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <div class="postCard" id="viewPost">
                <img class="storyPic" src="<%= post.attatchment %>">
                <img class="profilePicSmall" src="<%= user.avatar %>"><p class="userInfo"><%= user.name %> <small>about</small> <%= post.pet %>: </p>
                <p class="userStory" id="viewCommentPost"><%= post.content %></p>
            </div>
            <img class="profilePic" src="<%= user.avatar %>">
            <p><%= user.name %></p>
            <form action="/post/view/<%= postId %>/comment" method="POST">
                <textarea name="content" placeholder="So what do you think?"></textarea>
                
                <input type="submit" value="Comment" id="commentButton">
            </form>
            <% post.comments.forEach((comment, index) => { %>
                <img src="<%= comment.user.avatar %>" class="profilePic">
                <p><%= comment.user.name %></p>
                <p><%= comment.content %></p>
            <% }) %>
        </div>
    </main>
</body>
</html>