<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <form action="/post/add" method="POST">
                <label> Add Image:
                    <input type="file" name="attatchment">
                </label>
                <label>Pet:
                    <select name="pet">
                        <% user.pets.forEach((pet) => { %>
                            <option value="<%= pet.name %>"><%= pet.name %></option>
                        <% }) %> 
                    </select> 
                </label>
                <textarea name="content" placeholder="Whats up?.."></textarea>
                <input type="hidden" name="user" value="<%= user._id %>">
                <input type="submit" value="Post">
            </form>
        </div>
    </main>
</body>
</html>