<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/navbars") %>
    <main id="content">
        <div class="page">
            <% posts.forEach((post, index) => { %>
                <% let postId = post._id %> 
                <form action="/user/post/delete/<%= postId %>?_method=DELETE" method="POST">
                    <div class="postCard post-info" id="viewPost">
                        <img class="storyPic" src="<%= post.attatchment %>">
                        <img class="profilePicSmall" src="<%= user.avatar %>"><p class="userInfo"><%= user.name %> <small>about</small> <%= post.pet %>: </p>
                        <p class="userStory"><%= post.content %></p>
                        <hr>
                        <a class="actions" href="/post/view/<%= postId %>" id="viewC">View Comments</a>
                        <input type="submit" value="DELETE POST" class="delete" id="deletePost">
                    </div>
                </form>
            <% }) %> 
        </div>
    </main>
</body>
</html>