<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <% posts.forEach((post, index) => { %>
                <% let postId = post._id %> 
                <form action="/user/post/delete/<%= postId %>?_method=DELETE" method="POST">
                    <div class="postCard">
                        <img class="storyPic" src="<%= post.attatchment %>">
                        <p class="petInfo">petInfo</p>
                        <img class="profilePic" src=""> 
                        <p class="userInfo"></p>
                        <p class="userStory"><%= post.content %></p>
                        <a class="actions" href="/post/view/<%= postId %>">View Comments</a><input type="submit" value="DELETE POST">
                    </div>
                </form>
            <% }) %> 
        </div>
    </main>
</body>
</html>