<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/desktopnav") %>
    <main>
        <p class="hidden current-route">/user</p>
        <div class="user-details-header">
            <div>
                <img class="profile-pic medium" src="<%= user.avatar %>" alt="user profile picture">
                <h1 class="username"><%= user.name %></h1>
            </div>
            <a class="mobile-logout" href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </div>
        <a class="action-button view-user-posts" href="/user/posts">View your posts</a>
        <div>
            <p>Activity</p>
        </div>
        <div class="filler"></div>
        <%- include("../partials/mobilenav") %>
    </main>
</body>
</html>