<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <% let awsURL = "https://pet-dating.s3-us-west-1.amazonaws.com/" %>
        <div class="page">
            <img class="largeProfilePic" src="<%= user.avatar %>"><h1 class="pageTitle">Pets: </h1>
            <hr>
            <a class="anchor" href="/user/pets/new"><i class="fas fa-paw fa-lg"></i><i class="fas fa-plus fa-lg" id="addPetPlus"></i></a>
            <ul>
                <% pet.forEach((pet, index) => { %>
                    <a href="/user/pets/update/<%= index %>">
                        <li>
                            <h3><img id="profilePic" src="<%= awsURL + pet.fileId %>" class="profilePic"> <%= pet.name %></h3>
                            <p class="petItem"> Traits:</p> <p class="petItem"><%= pet.type %>, <%= pet.gender %>, <%= pet.sexuality %></p>
                        </li>
                    </a>
                <% }) %> 
            </ul>
        </div>
    </main>
</body>
</html>