<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/navbars") %>
    <main>
        <% let awsURL = "https://pet-dating.s3-us-west-1.amazonaws.com/" %>
        <div>
            <div id="user-pets-header">
                <div>
                    <img class="profile-pic medium" src="<%= user.avatar %>" alt="user profile picture">
                    <h1> &nbsp; Your Pets:</h1>
                </div>
                <div>
                    <a id="add-pet-button" href="/user/pets/new">
                        <i class="fas fa-paw fa-lg fa-2x"></i>
                        <i class="fas fa-plus fa-lg" id="addPetPlus"></i>
                    </a>
                </div>
            </div>
            <ul id="pet-list-container">
                <% pet.forEach((pet, index) => { %>
                    <a href="/user/pets/update/<%= index %>">
                        <li class="pet-list">
                            <div class="pet-header">
                                <div class="pet-title">
                                    <img class="profile-pic medium" src="<%= awsURL + pet.fileId %>" alt="pet profile picture"> 
                                    <h2><%= pet.name %> <small> the </small> <%= pet.type %></h2>
                                </div>
                                <p><%= pet.gender %></p> 
                            </div>
                            <div class="pet-description">
                                <% if (pet.description) { %>
                                    <p><%= pet.description %></p>
                                <% } else { %>
                                    <p>No description 😕</p>
                                <% } %>
                            </div>
                        </li>
                    </a>
                <% }) %> 
            </ul>
        </div>
    </main>
</body>
</html>