<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <% for(let i = posts.length - 1; i >= 0; i--) { %>
                <% let commentLength = posts[i].comments.length %>
                <% let yourpost %>
                <% let postId = posts[i]._id %>
                <% let awsURL = "https://pet-dating.s3-us-west-1.amazonaws.com/" %>
                <div class="postCard" id="viewPost">
                    <% if (posts[i].fileId) { %>
                        <img class="storyPic" src="<%= awsURL + posts[i].fileId %>">
                    <% } %>
                    <div class="post-info">
                        <img class="profilePicSmall" src="<%= posts[i].user.avatar %>"> <p class="userInfo"><%= posts[i].user.name %> <small>about</small> <img class="profilePicSmall" src="<%= awsURL + posts[i].pet.fileId %>"> <%= posts[i].pet.name %> <small>the</small> <%= posts[i].pet.type %>: </p></p>
                        <p class="userStory"><%= posts[i].content %></p>
                        <hr>
                        <div class="actions">
                            <div class="reaction-container">
                                <% if (posts[i].user.name === user.name) { %>
                                    <% yourpost = "yourpost" %>
                                    <% } else { %>
                                    <% yourpost = "" %>
                                <% }%>
                                <span class="reaction <%= yourpost %>">
                                    <form action="/post/react/<%= postId %>/smile?_method=PUT" method="POST">
                                        <button class="emoji-button"><a>😸</a></button>
                                    </form>
                                </span>
                                <span class="reaction <%= yourpost %>">
                                    <form action="/post/react/<%= postId %>/love?_method=PUT" method="POST">
                                        <button class="emoji-button"><a>😻</a></button>
                                    </form>
                                </span>
                                <span class="reaction <%= yourpost %>">
                                    <form action="/post/react/<%= postId %>/laugh?_method=PUT" method="POST">
                                        <button class="emoji-button"><a>😹</a></button>
                                    </form>
                                </span>
                                <span class="reaction <%= yourpost %>">
                                    <form action="/post/react/<%= postId %>/cry?_method=PUT" method="POST">
                                        <button class="emoji-button"><a>😿</a></button>
                                    </form>
                                </span>
                            </div>
                            <a href="/post/view/<%= postId %>" id="viewC">View Comments (<%= commentLength %>)</a>
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
    </main>
</body>
</html>