<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <% posts.forEach((post, index) => { %>
                <% let postId = post._id %> 
                <div class="postCard">
                    <img class="profilePic" src="<%= post.user.avatar %>">
                    <p class="userInfo"><%= post.user.name %></p>
                    <p class="petInfo">petInfo</p>
                    <img class="profilePic" src=""> 
                    <p class="userStory"><%= post.content %></p>
                    <a class="actions" href="/post/view/<%= postId %>">View Comments</a>
                </div>
            <% }) %> 
        </div>
    </main>
</body>
</html>