<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <h1><%= user.name %>'s feed:</h1>
            <% posts.forEach((post, index) => { %>
                <% let postId = post._id %> 
                <div class="postCard" id="viewPost">
                    <img class="storyPic" src="<%= post.attatchment %>">
                    <img class="profilePicSmall" src="<%= post.user.avatar %>"><p class="userInfo"><%= post.user.name %> <small>about</small> <%= post.pet %>: </p></p>
                    <p class="userStory"><%= post.content %></p>
                    <hr>
                    <a class="actions" href="/post/view/<%= postId %>" id="viewC">View Comments</a>                </div>
            <% }) %> 
        </div>
    </main>
</body>
</html>